---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Store</title>
  </head>
  <body class="transition-body">
    <Navbar />

    <main>
      <slot />
    </main>
  </body>
  <script type="module" src="/scripts/transitions.js"></script>
</html>
